<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3E54AC"/>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="manifest" href="app.webmanifest">
    <meta name="description" content="Halal Restaurant Apps provide recommendations or restaurant catalogs with the halal menu you want.">
    
    <title>Halal Restaurant Apps</title>
</head>
<body>
    <a href="#elementRestaurant" class="skip-link">Menuju ke konten</a>
    <nav>
        <ul>
            <li class="logo">Halal Restaurant</li>
            <li class="drawer">
                <button>
                    <i class="fas fa-bars"></i>
                </button>
            </li>
            <li class="items"><a href="#">Home</a></li>
            <li class="items"><a href="#/favorite">Favorite</a></li>
            <li class="items"><a href="https://fatwaaulia.github.io/" target="_blank">About Us</a></li>
        </ul>
    </nav>

    <main id="mainContent">
        <!--  -->
    </main>

    <footer>Copyright © 2023 - Halal Restaurant</footer>

</body>
</html>
